
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
html{
    scroll-behavior:smooth;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.header__logo-img {
    max-height: 50px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}
.navbar-top {
    -webkit-box-shadow: 0 3px 5px -3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 5px -3px rgba(0,0,0,.1);
    -o-box-shadow: 0 3px 5px -3px rgba(0,0,0,.1);
    /*box-shadow: 0px -1px 5px 0px rgba(0,0,0,.2);*/
    box-shadow: 0 3px 5px -3px rgba(0,0,0,.1);
}
.navbar-top .nav-link {
    font-weight: 600;
    color: #022b86 !important;
    font-size: 18px;
}
.navbar-top .navbar-nav > li.nav-item {
    padding: 0 13px;
}
.card-header-lp {
    background-color: #ffffff;
}
.text-primary {
    color: #022b86 !important;
}
.mega-menu{width: 800px; overflow: hidden; padding: 20px;}
.mega-menu .sub-menu-heading { font-weight: bold; font-size: 18px;margin: 10px 0 7px;}
@media(max-width:799px){
    .mega-menu{width: 100%;}
}

.img25 {
    height: 25px;
}
.img20 {
    height: 20px;
}
.img16 {
    height: 16px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}
.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}
.dropdown-menu {
    margin-top: 0;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
    border: none;
}
.btn-primary {
    color: #fff;
    background-color: #003399;
    border-color: #003399;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-primary:hover {
    color: #fff;
    background-color: #002878;
    border-color: #002878;
    box-shadow: 0 4px 6px rgba(50,50,93,.21), 0 1px 3px rgba(0,0,0,.18);
}
.btn-outline-primary {
    color: #003399;
    background-color: #fff;
    border-color: #003399;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-outline-primary:hover {
    color: #002878;
    background-color: #fffdfd;
    border-color: #002878;
    box-shadow: 0 4px 6px rgba(50,50,93,.21), 0 1px 3px rgba(0,0,0,.18);
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #002878;
    background-color: #fffdfd;
    border-color: #002878;
    box-shadow: 0 4px 6px rgba(50,50,93,.21), 0 1px 3px rgba(0,0,0,.18);
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus{
    outline: none;
    box-shadow: 0 4px 6px rgba(50,50,93,.31), 0 1px 3px rgba(0,0,0,.38);
}

.btn-rounded {
    border-radius: 20px;
}
.btn-lg.btn-rounded {
    border-radius: 30px;
}
.btn-link, a {
    color: #003399;
}
.btn-link:hover,
a:hover {
    color: #032261;
}

.carousel-control-next-icon {
    background-image: url('/img/icons/right-arrow_yellow.svg');
}
.carousel-control-prev-icon {
    background-image: url('/img/icons/left-arrow_yellow.svg');
}
.carousel-caption {
    color: #003399;
    text-align: left;
}
.carousel-caption h5{
    font-size: 50px;
    font-weight: bold;
}
.carousel-caption p{
    font-size: 30px;
}
.bg-warning {
    background-color: #ff9933!important;
}

h1 {
    padding: 40px 0 20px 0;
}

.lp-brands__img {
    max-width: 200px;
}

.carousel-caption {
    max-width: 600px;
}

.argon-shadow {
    border: none;
    box-shadow: 0 15px 35px rgba(50,50,93,.08),0 5px 15px rgba(0,0,0,.06)!important;
}
.hidden {
    display: none;
}
.btn-cart-type-of-order {
    min-width: 200px;
}
.btn-cart-type-of-order__wrapper {
    margin: 20px auto 40px;
}

.form-control {
    transition: all .15s ease;
}
.form-control, label {
    font-size: .875rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: .625rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: .25rem;
    box-shadow: none;
    transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
}
.form-control-alternative {
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    border: 0;
    transition: box-shadow .15s ease;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(234, 234, 234, 0.89);
    outline: 0;
    box-shadow: 1px 2px 12px 1px rgba(158, 158, 158, 0.07);
}
.card-product__old-price {
    color: rgba(113,113,113,0.5);
    text-decoration: line-through;
}
.brand-image {
    height: 250px;
    float: left;
    margin-right: 20px;
}
